.test {
  font-size: large;
}
.logoRow {
  height: 8vh;
}
.headingLogo {
  background-color: green;
}
.createAccount {
  background-color: yellow;
}
.shoppingBag {
  background-color: blue;
}
.mainContact {
  background-color: deeppink;
}
.shopNameRow {
  height: 6vh;
}
.countryLogo {
  background-color: yellow;
}
.search {
  background-color: grey;
}
.shopName {
  background-color: red;
}
.navigationRow {
  height: 5vh;
  background-color: dimgray;
}
.newInRow {
  height: 85vh;
}
.newInImg {
  background-image: url(../imgs/index/manWomenStyle.jpg);
  background-size: cover;
  background-position: center;
}
.newInText {
  background-color: #05098A;
}
.womenImgRow {
  height: 85vh;
}
.womenImg1 {
  background-image: url(../imgs/index/womenStyle.jpg);
  background-size: cover;
  background-position: center;
}
.womenImg2 {
    background-image: url(../imgs/index/womenStyle2.jpg);
  background-size: cover;
  background-position: center;
}
.womenShopButton {
  height: 5vh;
  background-color: dimgray;
}
.manImgRow {
  height: 85vh;
}
.manImg1 {
  background-image: url(../imgs/index/manStyle.jpg);
  background-size: cover;
  background-position: center;
}
.manImg2 {
  background-image: url(../imgs/index/manStyle2.jpg);
  background-size: cover;
  background-position: center;
}
.manShopButton {
  height: 5vh;
  background-color: dimgray;
}
.contactRow {
  height: 5vh;
  background-color: darkgreen;
}
.contactInformationRow {
  height: 20vh;
  background-color: lightgrey;
}

.logo {
  width: 60px;
  height: auto;
  object-fit: contain;
}
.icon {
  width: 31px;
  height: auto;
  object-fit: contain;
}

.mbm5 {
  margin-bottom: -5px;
}
