.logoRow {
  height: 8vh;
}
.headingLogo {
  background-color: green;
}
.createAccount {
  background-color: yellow;
}
.shoppingBag {
  background-color: blue;
}
.mainContact {
  background-color: deeppink;
}
.shopNameRow {
  height: 6vh;
}
.countryLogo {
  background-color: yellow;
}
.search {
  background-color: grey;
}
.shopName {
  font-family: "Roboto", sans-serif;
  font-size: large;
}
.shopSubtitle {
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

.navigationRow {
  height: 5vh;
  background-color: dimgray;
}
.newInRow {
  height: 85vh;
  margin-bottom: 5px;
}
.newInImg {
  background-image: url(../imgs/index/manWomenStyle.jpg);
  background-size: cover;
  background-position: center;
}
.newInText {
  background-color: #05098a;
  text-align: center;
  justify-content: center;
  align-content: center;
}
.newSeasonText {
  color: white;
  text-align: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.shoppingButtonNewIn {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 400px;
  background-color: lightgrey;
  border-radius: 5px;
  margin-left: 2%;
  height: 60px;
}
.shoppingButtonNewIn:hover {
  transform: scale(1.2);
  color: #05098a;
}

.womenImgRow {
  height: 85vh;
  margin-bottom: 5px;
}
.womenImg1 {
  background-image: url(../imgs/index/womenStyle.jpg);
  background-size: cover;
  background-position: center;
}
.womenImg2 {
  background-image: url(../imgs/index/womenStyle2.jpg);
  background-size: cover;
  background-position: center;
}
.womenShopButton {
  height: 10vh;
  margin-bottom: 5px;
  background-color: #720303;
}
.confortZone {
  color: white;
  text-align: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.shoppingButtonWomen {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 200px;
  background-color: #4b4b4e;
  border-radius: 5px;
  margin-left: 43%;
}
.shoppingButtonWomen:hover {
  transform: scale(1.2);
  color: #720303;
}
.manImgRow {
  height: 85vh;
  margin-bottom: 5px;
}
.manImg1 {
  background-image: url(../imgs/index/manStyle.jpg);
  background-size: cover;
  background-position: center;
}
.manImg2 {
  background-image: url(../imgs/index/manStyle2.jpg);
  background-size: cover;
  background-position: center;
}
.manShopButton {
  height: 10vh;
  margin-bottom: 5px;
  background-color: #620774;
}

.exculisiveStyle {
  color: white;
  text-align: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.shoppingButtonMan {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 200px;
  background-color: #4b4b4e;
  border-radius: 5px;
  margin-left: 43%;
}
.shoppingButtonMan:hover {
  transform: scale(1.2);
  color: #620774;
}

.contactRow {
  height: 6vh;
  background-color: darkgray;
  color: white;
  justify-content: center;
  align-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
  background-color: #090868;
}
.contactInformationRow {
  height: 30vh;
}
.footerLogoCol {
  align-content: center;
}
.contactNumbersCol {
  font-family: "Roboto", sans-serif;
}

.businessHoursCol {
  font-family: "Roboto", sans-serif;
}
.footerLogo {
  width: 170px;
  height: auto;
  padding-left: 35px;
}
.contactText {
  font-weight: bold;
  font-size: 16px;
}
.businessHoursText {
  font-weight: bold;
  font-size: 16px;
}

.logo {
  width: 60px;
  height: auto;
  object-fit: contain;
}
.icon {
  width: 31px;
  height: auto;
  object-fit: contain;
}
.sicon {
  width: 15px;
  height: 15px;
  object-fit: contain;
}
.serach {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.mbm5 {
  margin-bottom: -5px;
}

.nitem {
  font-family: "Roboto", sans-serif !important;
}
